html
    head
        title Welcome to hacked.com
        link(
            rel="stylesheet" 
            href="css/materialize.css")
    body
        h1 Comments!
            each val in comment
                p!= val
